.content {
    margin: 20px 0;
    border: 1px solid gray;
    padding: 15px;
}

#prdtitle {
  float: left;
}
#create-btn{
  float: right;
  padding: 5px;
}
.carousel-inner {
height: 400px;
}
.row {
  text-align: center;
  margin: 25px 0 !important;
}

thead {
    background: beige;
}
